<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDatabaseService" sendTimeout="00:05:00" />
        <binding name="BasicHttpBinding_IDatabaseService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:25002/Services/DatabaseService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseService1"
        contract="DatabaseServiceReference.IDatabaseService" name="BasicHttpBinding_IDatabaseService1" />
    </client>
  </system.serviceModel>
</configuration>
